@CHARSET "ISO-8859-1";

body {
	background-color: #99ccff;
    margin: auto;
	padding: 0px;
	width: 80%;
}

ul {
	list-style-type: none;
	background-color: #ffffcc;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-radius: 10px;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	color: #001a00;
	border: 2px solid red;
	border-radius: 10px;
	margin: 5px;
}

li a:hover {
	background-color: #ffff4d;
	border-color: green;
}